# Python
__pycache__/
*.pyc
server/.venv/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# logs
*.log
server/instance/
server/uploads/
.env

# build outputs
build/
dist/

# Arduino compiled files
*.elf
*.hex
*.bin
